 /*Raiz do documento onde podemos criar variaveis*/
    /*colocaremos as cores que iremos usar*/
:root{
    --vermelho: #e50914;
    --preta: #141414;
}


 /*USAMOS ISSO PARA TIRAR AS FORMATAÇÕES DE MARGEM E ESPAÇAMENTO QUE JA VEM PREDEFINIDAS, ASSIM PODEMOS  FORMATAR DE ACORDO COM O NOSSO DESEJO*/
*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

/*cabeçalho*/
header .container {
    border: 1px solid black;
    display: flex; /*isso é um flex box, uma maneira de alinhar os elementos em tela*/
    align-items: center; /*centralizar os links*/
    justify-content: space-between /*espaço entre as tags*/

}

body{
    background: var(--preta);
    font-family: Arial;
    color: white;
}

header .logo{
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 40px;
}

header nav a {
    text-decoration: none; /*tirar as linhas sublinhadas dos links*/
    color: #aaa;
    margin-right: 10px; 
}

header nav a:hover { /*Qunado o mouse estiver em cima do link*/
    color: #fff;

}

/*filme em destaque*/
.filme {
    font-size: 16px;
    background: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .50)100%), url('/aulas/DESAFIO/netflix/img/capa\ the\ \ office.jpg'); /*inserindo uma imagem de fundo*/
    height: 600px;
    background-size: cover; /*usar para colocar toda a imagem no tamanho que vc quer*/
    display: flex;
    flex-direction: column; /*ordenar em coluna*/
    justify-content: center;
    align-items: flex-start; /*alinhar todos para a direita*/   
}

.filme .descricao {
    margin-bottom: 40px;
    margin-top: 10px;
}

.titulo {
    font-size: 50px;
    margin-top: 15%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    
}

.botao{
    background-color: rgba(0, 0, 0, .65);
    border: none;
    color: white;
    padding: 15px 40px;/*Quando botamos dois valores, o primeiro é para (top e bottom) e o segundo para (left e right)*/
    margin-right: 20px;
    font-size: 12px;
    cursor: pointer; /*quando o mouse passar em cima, mostrará  para clicar*/
    transition: .3s ease all; /*transição para efeito do hover*/
}

.botao:hover {
    background-color: #fff;
    color: black;
}

.botao i {
    margin-right: 8px;
}

.container {
    margin-left: 20px ;
}

.filme .container{
    width: 70%; /*faz com que não importe o tamanho da tela, todas as iformações do container vão estar em 70% da tela*/

}

.box-film{
    height: 100%;
    width: 100%;
}


.carrosel-filmes{
    margin-top:5px;
}