@media screen and (max-width:700px) {
    header .container{
        display: flex;
        flex-direction: column; /*para que o itens fique embaixo de netflix*/
    }
    .botao{
        margin-top: 5px; /*para que os botões fiquem separadinhos*/
    }

    
}


@media screen and (min-width: 1000px){
    .descricao{
        width: 50%
        
    }

}